.centerAbs[data-v-9ec45d78] {
  position: absolute;
  transform: translate(-50%, -50%);
}
.sideDiv[data-v-9ec45d78] {
  position: absolute;
}
svg[data-v-5e411668] {
  pointer-events: none;
  position: absolute;
  transform: "translate(-50%, -50%)";
}
