.centerAbs[data-v-be1e63e6] {
  position: absolute;
  transform: translate(-50%, -50%);
}
.sideDiv[data-v-be1e63e6] {
  position: absolute;
}
.dragZone[data-v-be1e63e6] {
  cursor: grab;
}
.dragZone[data-v-be1e63e6]:active {
  cursor: grabbing;
}
svg[data-v-de32c22c] {
  pointer-events: none;
  position: absolute;
  transform: "translate(-50%, -50%)";
}
.centerAbs[data-v-a0c630bd] {
  position: absolute;
  transform: translate(-50%, -50%);
}
