.centerAbs[data-v-f0ff7ab8] {
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: auto;
}
.fullSize[data-v-f0ff7ab8] {
  position: absolute;
  inset: 0;
  pointer-events: none;
}
.sideDiv[data-v-f0ff7ab8] {
  position: absolute;
}
.dragZone[data-v-f0ff7ab8] {
  cursor: grab;
}
.dragZone[data-v-f0ff7ab8]:active {
  cursor: grabbing;
}
svg[data-v-7fa71486] {
  pointer-events: none;
  position: absolute;
  transform: "translate(-50%, -50%)";
}
.centerAbs[data-v-0bbc07a8] {
  position: absolute;
  transform: translate(-50%, -50%);
}
