.centerAbs[data-v-47f3f35a] {
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: auto;
}
.fullSize[data-v-47f3f35a] {
  position: absolute;
  inset: 0;
  pointer-events: none;
}
.sideDiv[data-v-47f3f35a] {
  position: absolute;
}
.dragZone[data-v-47f3f35a] {
  cursor: grab;
}
.dragZone[data-v-47f3f35a]:active {
  cursor: grabbing;
}
svg[data-v-7fa71486] {
  pointer-events: none;
  position: absolute;
  transform: "translate(-50%, -50%)";
}
.centerAbs[data-v-0bbc07a8] {
  position: absolute;
  transform: translate(-50%, -50%);
}
